body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.box-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.box {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.box:last-child {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 0;
}

.box:hover {
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}